# SERVER CONFIGURATION
SERVER_PORT="server_port"
SESSION_SECRET='session_secret'

# DB
PGHOST='database_host'
PGUSER='database_user'
PGDATABASE='database_name'
PGPASSWORD='database_password'
PGPORT='database_port'

# FACEBOOK OAUTH KEYS
FACEBOOK_CONSUMER_KEY='CLIENT_KEY'
FACEBOOK_CONSUMER_SECRET='SECRET_KEY'
FACEBOOK_CALLBACK_URL='http://localhost:3006/api/auth/facebook/callback'

# GOOGLE OAUTH KEYS
GOOGLE_CONSUMER_KEY='CLIENT_KEY'
GOOGLE_CONSUMER_SECRET='SECRET_KEY'
GOOGLE_CALLBACK_URL='http://localhost:3006/api/auth/google/callback'

# STRIPE KEYS
STRIPE_SECRET_KEY='SECRET_KEY'